{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href="{% static 'polls/resets.css' %}" rel="stylesheet">
    <link href="{% static 'polls/styles.css' %}" rel="stylesheet">
    <!-- scripts -->
    <script defer src="{% static 'polls/survey.js' %}"></script>
    <!-- favicon -->
    <title>Housewarming</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'polls/images/favicon.png' %}"

</head>
<body>
    <div class="poll-container">
        <div class='poll-title'>You've Been Invited</div>
        <div class="poll-subtitle">to do the dirty Durham</div>
        <div class="poll-img-container">
            <img src="{% static 'polls/images/house.jpg' %}"
        </div>
        <div class="poll-text"></div>
        <div class="poll-btn-container">
            <button class="btn btn-start">Get Started</button>
        </div>    
    </div>

    <div class="poll-container">
        <div class='poll-question'>Let's get your House Pass set up</div>
        <div class="poll-choice-container">
            <div class="input-container">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" placeholder="Your real first name">
            </div>
            <div class="input-container">
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" placeholder="Your real last name">
            </div>
            <div class="input-container">
                <label for="alias">Alias:</label>
                <input type="text" name="alias" placeholder="Your street name">
            </div>
            <div class="input-container">
                <label for="fav_colour">Favourite Colour:</label>
                <select name="fav_colour">
                    {% for c in colours %}
                    <option value="{{ c.hsl }}">{{ c.colour }}</option>
                    {% endfor %}
                </select>                
            </div>
            <div class="input-container">
                <label for="fav_drink">Favourite Alcoholic Drink:</label>
                <select name="fav_drink">
                    {% for drink in drinks %}
                    <option value="{{ drink }}">{{ drink }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-container">
                <label for="fav_animal">Spirit Animal:</label>
                <select name="fav_animal">
                    {% for animal in animals %}
                    <option value="{{ animal }}">{{ animal }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-container">
                <label for="picture">Picture:</label>
                <input type="file" name="picture">
            </div>
        </div>
        <div class="poll-img-container"></div>
        <div class="poll-btn-container">
            <button class="btn btn-prev">Previous</button>
            <button class="btn btn-next">Next</button>
        </div>    
    </div>

    {% for question in questions %}
    <div id="{{question.id}}" class="poll-container">
        <div class='poll-question'>{{ question.q_text }}</div>
        <div class="poll-choice-container">
            {% for choice in question.choices %}
                {% if question.type == 'checkbox' %}
                <input type="checkbox" value="{{choice.choice_text}}" id="{{choice.id}}">
                {% else %}
                <input type="radio" value="{{ choice.choice_text }}" id="{{ choice.id }}"
                {% endif %}
            {% endfor %}
        </div>
        <div class="poll-img-container">
            <img src="{% static 'polls/images/house.jpg' %}"
        </div>
        <div class="poll-text"></div>
        <div class="poll-btn-container">
            <button class="btn btn-prev">Previous</button>
            <button class="btn btn-next">Next</button>
        </div>    
    </div>
    {% endfor %}

</body>
</html>