*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
h1,h2,h3,h4,h5,
p,
figure,picture {
    margin: 0;
}

body {
    line-height: 1.5;
}

img, picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    border: none;
    margin: 0;
    outline: none;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}