/* Utility classes */
.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-just {
    margin-right: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

.poll-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}

.poll-img-container.round {
    border-radius: 50%;
    max-width: 90%;
    height: 0;
    padding-bottom: 90%;
    overflow: hidden;
    margin: 1rem 0;
}

img {
    object-fit: cover;
    transform: translateX(-15%);
    max-width: 150%;
    aspect-ratio: 1 / 1;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.main-header {
    padding: 1rem 0 2rem 0;
}

label {
    padding-bottom: 0.3rem;
}

form {
    width: 100%;
}

.input-container {
    width: 85%;
    padding-bottom: 1rem;
}

input {
    padding: 0.1rem 0.5rem 0.1rem 0.5rem ;
    margin-bottom: 0.5rem;
}

textarea {
    padding: 0.5rem;
    /* margin: 0.5rem 0; */
}

input[type=text] {
    border: 1px solid rgba(0,0,0,0.2);
    min-width: 100%;
    border-radius: 0.5rem;
}

textarea {
    min-width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.5rem;
}

.radio-row > * {
    padding: 0 1rem 0 0.4rem;
}