/* Utility classes */
.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-just {
    margin-right: auto;
}

:root {
    --hp-footer-fs: 1rem;
}

html {
    /* height: 100%; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
    /* overflow-x: hidden; */
    /* background: rgb(0,20,20); */
}

.carousel {
    /* position: relative; */
    margin: 0 auto;
    min-height: 100%;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.carousel-track-container {
    min-height: 400px;
    height: 100%;
    width: 100%;
    position: relative;
    /* overflow-x: hidden; */
}

.carousel-track {
    transition: transform 0.2s ease-in;
    /* height: 100%; */
}

.poll-container {
    position: absolute;
    top: 15px;
    background: white;
    /* bottom: 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100%; */
    padding: 0 3rem;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

.carousel-indicator {
    border-radius: 50%;
    width: clamp(1rem, 4.5vw, 2rem);
    height: clamp(1rem, 4.5vw, 2rem);
    background: rgba(0,20,70,0.3);
    margin: 0 0.8vw;
    /* cursor: default; */
}

.carousel-indicator.current-slide {
    background: rgba(0,20,70,0.75);
}

.poll-title {
    font-weight: bold;
}

.poll-subtitle {
    font-family: 'Beau Rivage', cursive;
    font-size: 3rem;
}

.poll-question {
    padding: 0;
}

.poll-question > a {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    color: darkblue;
}

.poll-question-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
}

.poll-question-title.large {
    font-size: 3rem;
    margin-inline: auto;
    color: darkblue;
    text-align: center;
    text-transform: none;
    font-family: 'Beau Rivage', cursive;
}

.poll-choice-container {
    padding: 1rem 0 0 0;
    width: 100%;
}

.choice {
    padding-bottom: 0.8rem;
}

.poll-img-container {
    overflow: hidden;
    border-radius: 2rem;
    max-height: min(80vw, 350px);
    margin-top: 1rem;
}

.poll-img-container.round {
    border-radius: 50%;
    max-width: min(90%, 350px);
    height: 0;
    padding-bottom: min(90%, 350px);
    overflow: hidden;
    margin: 1rem 0;
}

.poll-img-container.inline {
    max-width: min(80vw, 350px);
}

#intro-img {
    object-fit: cover;
    transform: translateX(-15%);
    max-width: 150%;
}

.poll-img {
    transform: translateY(-15%);
}

.btn-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 0;
    margin: 1rem 0 2rem 0;
}

.btn {
    margin: 0 0.3rem 0 0.3rem;
}

.main-header {
    padding: 1rem 0 2rem 0;
}

label {
    padding-bottom: 0.3rem;
}

form {
    width: 100%;
}

.input-container {
    width: 85%;
    padding-bottom: 1rem;
}

input {
    padding: 0.1rem 0.5rem 0.1rem 0.5rem ;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0,0,0,0.2);
}

textarea {
    min-width: 100%;
    max-width: 100%;
    padding: 0.5rem;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.5rem;
}

input[type=text] {
    min-width: 100%;
}

input[type=number] {
    min-width: 100%;
}

input[type=file] {
    border: none;
}

.radio-row > * {
    padding: 0 1rem 0 0.4rem;
}

.housepass-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.housepass_container {
    width: min(90vw, 400px);
    height: calc(min(90vw, 400px) / 1.6);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.7);
    /* border: 3px solid black; */
    margin: 1rem 0;
    border-radius: 1rem;
    background: rgba(20,20,50,1);
    color: white;
    padding: 0.8rem 0;
}

.housepass_container.back {
    padding: 1.5rem 2.5rem;
}

.housepass_container.hidden {
    display: none;
}

.housepass_main-content {
    width: 100%;
    height: 100%;
}

.housepass_img-container {
    width: min(45vw, 200px);
    height: min(45vw, 200px);
    max-width: 50%;
    max-height: 100%;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 1rem;
    /* border: 2px solid black; */
    /* background: green; */
}


.housepass_info-container {
    width: 50%;
    height: 100%;
}

.housepass_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
}

.housepass_info-header {
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    width: 100%;
    border-bottom: 1px solid grey;
    /* background: grey; */
}

.housepass_info-access {
    width: 100%;
    font-weight: bold;
    font-size: clamp(1.2rem, 20vw, 1.8rem);
    margin: -0.3rem 0 0.3rem 0;
    letter-spacing: 0.5rem;
}

.housepass_info-access.menace {
    font-size: clamp(0.82rem, 20vw, 1.3rem);
    letter-spacing: 0.4rem;
    margin: -0.2rem 0 0.3rem 0;
}

.housepass_info-badge-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    /* background: yellow; */
    width: 100%;
    height: 65%;
    max-height: 65%;
    padding: 0.5rem;
}

.housepass_badge {
    /* margin: 0.3rem; */
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid white;
}

.housepass_badge > img {
    width: 100px;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    transform: scale(1);
    object-fit: cover;
}

.housepass_badge > img.scale-down {
    transform: scale(0.8);
}

.housepass_badge > img.scale-down.upside-down {
    transform: scale(0.8) rotateZ(180deg);
}

/* img[src$='.svg'] {
    transform: scale(0.5);
} */

.housepass_footer {
    width: 100%;
    font-size: clamp(0.6rem, var(--hp-footer-fs), 1.5rem);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-align: center;
    white-space: nowrap;
}

#video {
    /* display: none; */
    width: 100%;
    min-width: 300px;
    border-radius: 2rem;
    border: 2px solid black;
    display: none;
}

#canvas {
    width: 100%;
    min-width: 300px;
    border-radius: 2rem;
    border: 2px solid black;
    display: none;
}

#video.show {
    display: block;
}

#canvas.show {
    display: block;
}

#take-photo {
    display: none;
}

#take-photo.show {
    display: block;
}

#add-photo.hide {
    display: none;
}

/* RESULTS PAGE */

.results-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.results_question {
    font-style: italic;
    border-bottom: 1px solid grey;
    /* border-top: 1px solid grey; */
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}


.results_choice-container {
    margin-bottom: 2rem;
}

.results_choice {
    font-weight: bold;
}

.results_choice > span {
    color: red;
    /* font-weight: bold; */
}

.results_vote {
    list-style:circle;
    font-size: 0.8rem;
    font-weight: normal;
}

.alert-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 2vh;
    left: 50vw;
    transform: translateX(-50%);
    gap: 0.5rem;
    z-index: 1;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0,0,0,0.86);
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    opacity: 1;
    transition: opacity 250ms ease-out;
}

.alert.hide {
    opacity: 0;
}

footer {
    color: rgba(0,0,0,1);
    font-size: clamp(0.5rem, 1.4vmin, 0.8rem);
    /* position: fixed; */
    padding-bottom: 1rem;
}
